### Vagrant ###
# General
.vagrant/

# Log files (if you are creating logs in debug mode, uncomment this)
*.log

### Vagrant Patch ###
*.box
# Secrets
host_vars/android-pihole/vars/secrets.yml
# Backups
*.tar.gz
